.audio-player {
    position: relative;
    width: 100%;
    @media (min-width: 600px) {
        position: absolute;
        right: 10%;
        bottom: 0;
        width: 400px;
    }
    #widget {
        background: transparent !important;
    }
}