<app-loading *ngIf="!data"></app-loading>

<div class="container page-container album" *ngIf="data">
    <h2 [innerHTML]="data.title"></h2>

    <img class="img-responsive album-artwork" src="{{ data.artwork.src }}" alt="{{ data.title }} artwork">
    <div class="main container" [innerHTML]="data.body  | keepHtml"></div>
    <div class="row">
        <a type="button" id="download-album" class="btn btn-success col-sm-4 col-sm-offset-1 col-xs-12 btn-lg"
        href="//spliss.bandcamp.com/yum" target="blank">
            <h4><i class="fa fa-download"></i>&nbsp;Download Using Code</h4>
        </a>
        <a type="button" class="btn btn-info col-sm-4 col-sm-offset-2 col-xs-12 btn-lg"
           href="//spliss.bandcamp.com/releases" target="blank">
            <h4><i class="fa fa-money"></i>&nbsp;Buy</h4>
        </a>
    </div>

    <div *ngIf="data.tracks.length > 0" class="tracks">
        <h2>Tracks</h2>
        <div class="row">
            <div class="track col-md-4 col-sm-6" *ngFor="let track of data.tracks; let i = index">
                <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">{{ track.title }}</h2>
                    <img routerLink="../../track/{{track.title|slugify}}" *ngIf="track.artwork" src="{{ track.artwork.src }}" alt="" class="img-responsive linked-artwork">
                    <audio controls id="{{track.title}}">
                        <source src="{{ track.stream }}&raw=1&t=.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="description" [innerHTML]="track.body | keepHtml"></div>
                </div>
                <a routerLink="../../track/{{track.title|slugify}}" class="btn btn-primary col-xs-12">
                    <h4>{{track.title}} &nbsp;<i class="fa fa-external-link"></i></h4>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
