.page-container.album .album {
  margin-bottom: 20px;
}
.page-container.album .album-artwork {
  margin: 0 auto 20px;
}
.page-container.album .tracks h3 {
  margin-bottom: 20px;
}
.page-container.album .track h4 {
  margin-bottom: 10px;
  font-weight: bold;
}
.page-container.album .track .description {
  margin-bottom: 20px;
}
.page-container.album .track img {
  margin: auto;
}
.page-container.album .track audio {
  width: 100%;
}
.page-container.album .track audio::-internal-media-controls-download-button {
  display: none;
}
.page-container.album .track audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}
.page-container.album .track audio::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */;
}
.page-container.album #download-album .error {
  color: red;
}
