body {
  background: #E0EDE4;
  min-height: 400px;
}
.page-container {
  min-height: 400px;
}
.page-container h1 {
  padding: 10px;
  width: 100%;
  color: #FC3FF0;
}
.background-image {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: 100%;
  z-index: -1;
}
