body {
  background: #E0EDE4;
  min-height: 400px;
}
.page-container {
  min-height: 400px;
}
.background-image {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: 100%;
  z-index: -1;
}
