body {
  background: #fda46b;
  min-height: 400px;
}
.page-container {
  min-height: 400px;
}
.background-image {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: 100%;
  z-index: -1;
}
.app-container .features {
  margin-top: 120px;
}
.app-container .features .fb-page,
.app-container .features .featured-music {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.app-container .features .fb-page > span {
  display: block;
  margin: auto;
}
h1,
h2,
h3 {
  font-family: 'Trirong', serif;
}
a {
  color: #35A38A;
}
a:hover {
  color: #FDE552;
  text-decoration: none;
}
html,
body {
  font-size: 16px;
  font-family: 'Proza Libre', sans-serif;
}
@media screen and (min-width: 320px) {
  html,
  body {
    font-size: 15px;
  }
}
@media screen and (min-width: 1000px) {
  html,
  body {
    font-size: 22px;
  }
}
audio {
  width: 100%;
}
audio::-internal-media-controls-download-button {
  display: none;
}
audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}
audio::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */;
}
img.linked-artwork {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  transition: filter 0.5s;
}
img.linked-artwork:hover {
  cursor: pointer;
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
  transition: filter 0.5s;
}
.btn.btn-primary {
  background-color: #FD9452;
  border-color: #feb384;
}
.btn.btn-primary:hover {
  background-color: #fd914d;
  border-color: #fec39e;
  color: #FDE552;
}
.btn.btn-secondary {
  background-color: #FD9452;
}
.btn.btn-success {
  background-color: #6544AD;
  border-color: #8063c1;
}
.btn.btn-success:hover {
  background-color: #6343a9;
  border-color: #8f75c9;
}
