@body-background: #E0EDE4;
@logo-color: #FC3FF0;
@min-page-height: 400px;

body {
    background: @body-background;
    min-height: @min-page-height;
}

.page-container {
    min-height: @min-page-height;
    h2 {
    }
}

.background-image {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: 100%;
    z-index: -1;
}