<app-loading *ngIf="!data"></app-loading>

<div *ngIf="data" class="background-image"
     [ngStyle]="{
        'background-image': 'url(' + data.mainImage.src +')',
        'background-size': data.mainImage.width + 'px ' + data.mainImage.height + 'px',
        'height': data.mainImage.height + 'px'
     }">
</div>

<div class="container page-container reviews" *ngIf="data">
    <h2 [innerHTML]="data.about.title"></h2>
    <h3 [innerHTML]="data.about.subtitle"></h3>
    <div class="main" [innerHTML]="data.about.body"></div>
    Coming soon!
</div>

