<app-loading *ngIf="!data"></app-loading>

<div *ngIf="data" class="background-image"
     [ngStyle]="{
        'background-image': 'url(' + data.mainImage.src +')',
        'background-size': data.mainImage.width + 'px ' + data.mainImage.height + 'px',
        'height': data.mainImage.height + 'px'
     }">
</div>

<div class="container page-container music" *ngIf="data">
  <h2 [innerHTML]="data.music.title"></h2>
  <div class="main container" [innerHTML]="data.music.body  | keepHtml"></div>

  <div *ngIf="data.albums.length > 0" class="album">
    <h2>Albums</h2>
    <div class="album" *ngFor="let album of data.albums">
      <h3 routerLink="../album/{{album.title|slugify}}" class="text-center">{{ album.title }}</h3>
      <div class="row">
        <img routerLink="../album/{{album.title|slugify}}" class="img-responsive album-artwork linked-artwork" src="{{ album.artwork.src }}" alt="{{ album.title }} artwork">
        <div class="col-md-8 col-md-offset-2 description" [innerHTML]="album.body | keepHtml"></div>
        <a routerLink="../album/{{album.title|slugify}}" class="btn btn-primary col-xs-12">
          <h4>{{album.title}} &nbsp;<i class="fa fa-external-link"></i></h4>
        </a>

      </div>
      <div class="tracks row">
        <h3>Tracks from {{ album.title }}</h3>
        <div class="track col-md-4 col-sm-6" *ngFor="let track of album.tracks">
          <h4 class="text-center">{{ track.title }}</h4>
          <img routerLink="../track/{{track.title|slugify}}" *ngIf="track.artwork" src="{{ track.artwork.src }}" alt="" class="img-responsive track-artwork linked-artwork">
          <audio controls id="{{track.title}}">
            <source src="{{ track.stream }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <div class="description" [innerHTML]="track.body | keepHtml" #trackDescription></div>
          <a routerLink="../track/{{track.title|slugify}}" class="btn btn-primary col-xs-12">
            <h4>{{track.title}} &nbsp;<i class="fa fa-external-link"></i></h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>