<svg viewBox="0 0 400 100" class="spliss-logo-animation" id="{{logoType}}">
  <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="1" class="lines">
    <path class="letter s top"
          d="M42 35,
                A 25 15 0 0 1 65 12,
                v -8,
                A 15 10 0 0 0 50 45 z"></path>
    <path class="letter s bottom" d="M42 35,
                                          A 45 25 0 0 1 90 2,
                                          v -3,
                                          A 15 10 0 0 0 50 45 z" transform="scale(-1,-1) translate(-100,-92)"></path>
    <path class="letter p bottom" d="M90 90
                                         L 110 99
                                         H 80 V 3 H 90 z"></path>
    <path class="letter p top" d="M95 3 A 10 10 0 0 1 95 50 v -7 A 10 10 0 0 0 95 3"></path>
    <path class="letter l bottom" d="M175 99 H 130 L 142 92 H 180 z"></path>
    <path class="letter l top" d="M128 98
                                      Q 130 60, 130 45 T 130 1
                                      H 140
                                      Q 140 30, 139 47 T 140 90
                                      z
                                      "
    ></path>
    <path class="letter I" d="M225 10
                                  H 245
                                  V 1
                                  H 190
                                  V 10
                                  H 215
                                  V 88
                                  H 190
                                  V 99
                                  H 245
                                  V 88
                                  H 225
                                  z
                                      "
    ></path>
    <path class="letter s top"
          d="M42 35,
                A 25 15 0 0 1 65 12,
                v -8,
                A 15 10 0 0 0 50 45 z" transform="translate(250,0)"></path>
    <path class="letter s bottom" d="M42 35,
                                          A 45 25 0 0 1 90 2,
                                          v -3,
                                          A 15 10 0 0 0 50 45 z" transform="scale(-1,-1) translate(-350,-92)"></path>

    <path class="letter s top"
          d="M42 35,
                A 25 15 0 0 1 65 12,
                v -8,
                A 15 10 0 0 0 50 45 z" transform="translate(307,0)"></path>
    <path class="letter s bottom" d="M42 35,
                                          A 45 25 0 0 1 90 2,
                                          v -3,
                                          A 15 10 0 0 0 50 45 z" transform="scale(-1,-1) translate(-407,-92)"></path>
  </g>
</svg>